@charset "utf-8";
body{
    margin: 0;
}
div{
    background-color: blue;
}
h1{
    background-color: aquamarine;
    position: relative;
    top: -5px;
    left: -5px;
}
h2{
    box-shadow: 5px  5px 5px 0px #444;
    background-color: #fcf;
}
.box{
    background-color: rgb(236, 162, 52);
    height:200px;
    width: 500px;
    position: relative;
}
h3{
    background-color: #ff0; 
    position: absolute;
    top: 50px;
    left: 100px;
}
span{
    background-color: brown;
    width: 100px;
    position: fixed;
    top:50px;
    right:50px;
}